.faq {
  min-height: 90vh;
  padding: 5rem 10rem;
  color: #fff;
  span {
    display: block;
  }
  h2 {
    margin-bottom: -0.5rem;
    font-weight: lighter;
  }
  h4 {
    cursor: pointer;
  }
  .faq-line {
    background: #ccc;
    height: 0.2rem;
    margin: 2rem 0;
    width: 100%;
  }
  .question {
    padding: 3rem 0;
  }

  .answer {
    padding: 2rem 0;
    p {
      padding: 1rem 0;
    }
  }

  .hide {
    overflow: hidden;
  }
}

@media (min-width: 0) and (max-width: 1200px) {
  .faq {
    padding: 2rem 3rem;
  }
}
