nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 1rem 10rem;
  background-color: #282828;

  #logo {
    font-size: 2rem;
    font-family: "Lobster", cursive;
    font-weight: lighter;
  }

  a {
    color: #fff;
  }

  ul {
    display: flex;
    list-style: none;
    li {
      position: relative;
    }
    .link {
      padding: 1rem 2rem;
    }
  }
}
